<section id="primary" class="courses">
  <div class="row" id="active-learning">
      <div class="row">
          <div class="rectangle"><h2>Tiếng Anh tiểu học</h2></div>
          <% @courses.primary.each do |course| %>
            <div class="col-md-6 col-sm-6 course-box">
                <div class="bubble">
                    <div class="rectangle"><h2><%= course.name %></h2></div>
                    <div class="info">
                      <%= course.description.try(:html_safe) %>
                    </div>
                </div>
            </div>
          <% end %>
      </div>

      <div class="col-md-6 col-sm-6 course-box">

          <div class="bubble">
              <div class="rectangle"><h2 class="long-title"><%= t("active_learning") %></h2></div>
              <div class="info">
                <h2>I Have Used Only CSS, friends!</h2>
                <p>
                  For this tutorial I have used some new properties of the CSS3. You can realize a nice 3D effect using only CSS, it's really fantastic.<br />It doesn't work with IE!
                  <br>
                  <a href="#">More Details</a><br />
                </p>

                <p>
                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#signup-modal"> <%= t("free_trial") %></a>
                </p>
              </div>
          </div>
      </div>
    </div>
</section>
